# ==========================================
# Nim Debug Configuration
# ==========================================

path = "."
mm = orc

# Enable debugging information
debugger = native
lineTrace = on
stackTrace = on
debuginfo = on

# Keep optimization low for accurate debugging
opt = none

passC = "-g3 -O0"
passL = "-g3"